*{
    box-sizing: 0;
	margin: 0;
	padding: 0;
}

body{
    height: 100vh;
    display: flex;
	position: relative;    
}

.main{
    position: fixed;
    background-color: gainsboro;
    width: 100%;
    top: 70px;
    bottom: -50px;
}

.footer{
    background-color: #74fff1;
    position: fixed;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    left:0px;
    bottom:0px;
    height:50px;
    width:100%;
    text-align: center;
}

